<h1>Bienvenue sur mon premier site web.</h1>
<p>J'ai créé ce petit site web en suivant le cours "Rails Heroes Course" de Harry jmg.
  Cela m'as permis de m'initier a Ruby on rails de comprendre comment fonctionne ce framework dans les grandes lignes.
  J'ai aimé l'utiliser, il est intuitif et agréable.</p>
<%= link_to 'home',  root_path %>
