<div class="container">
  <footer>
    <small>
      Alpha Blog from <%= link_to "Rails Heroes Course", "https://www.harryjmg.fr/rails-heroes-course" %> Copyright by Harry Jmg
    </small>
    <nav>
      <ul>
        <li><%= link_to "A propos", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
